service miniv_ai /vendor/bin/ai_daemon
    class hal
    user system
    group system
    socket miniv_ai stream 0660 system systemenv 
    env DSP_LIBRARY_PATH /vendor/lib64/rfsa/adsp
    disabled
    seclabel u:r:miniv_ai:s0

on property:vendor.miniv.ai.enabled=1
    mkdir /data/vendor/miniv_ai 0700 system system
    mkdir /data/vendor/miniv_ai/sessions 0700 system system
    start miniv_ai

on property:vendor.miniv.ai.enabled=0
    stop miniv_ai